<h2>Movies</h2>
<genre-filter [genre]="selectedGenre"
  (change)="onFilterChange($event)"
></genre-filter>

<mat-nav-list cols="2" rowHeight="2:1">
  <a *ngFor="let movie of filteredByGenre" mat-list-item
    (click)="selectedMovie = movie"
    [class.selected]="movie === selectedMovie"
    [routerLink]="['/movies', movie.movieId]"
    matTooltip="Click for description"
    matTooltipPosition="below"
  >
    <mat-icon *ngIf="movie.genre === 'SCI_FI'"   matListIcon style="color: gray">android</mat-icon>
    <mat-icon *ngIf="movie.genre === 'COMEDY'" matListIcon style="color: orange">sentiment_very_satisfied</mat-icon>
    <mat-icon *ngIf="movie.genre === 'ANIMATION'"  matListIcon style="color: brown">brush</mat-icon>
    <h3 matLine>{{ movie.name }}</h3>
    <small matLine>
      <mat-icon>access_time</mat-icon> {{ movie.runtime }}
    </small>
  </a>
</mat-nav-list>
